<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>智能后台</title>
    {% load staticfiles %}
    <link href="{% static 'cms/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cms/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'cms/css/cms.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" target="_blank">网站首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'cms:index' %}">控制台首页</a></li>
                <li><a href="{% url 'cms:setting' %}">控制台设置</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'accounts:logout' %}">注销({{ user }})</a></li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

{% block body %}
{% endblock %}
</body>
<script src="{% static 'cms/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'cms/js/bootstrap.min.js' %}"></script>

{% block js %}
{% endblock %}
</html>